.root{

	//-fx-background-color: #BDBDBD;
	-fx-background-color: linear-gradient(#FFFFFF, #848484);
	//-fx-background-image:url("file:/Users/zhangmo/Documents/GitHub/Assignment2/MiniNet/image/background.jpg");
	//-fx-background-size: cover;
}


.label{

 //-fx-text-fill: #FFFFFF;
 -fx-font-size: 20px;
}

.button{

  //-fx-background-color: #D8D8D8;
  -fx-pref-width: 200px;
  -fx-pref-height: 50px;

}