.root{

	-fx-background-image:url("../image/background4.jpg");
	-fx-background-size: cover;
}


.label{

 -fx-text-fill: #FFFFFF;
 -fx-text-stroke: black;
 -fx-font-size: 17px;
 -fx-font-weight: bold;
}

.label{

 -fx-text-fill: #ffffff;
 -fx-font-size: 15px;
 -fx-stroke: black;

}


.button{


}