.root{
	-fx-background-color: #0a4665;
	-fx-background-image:url("../image/background.jpg");
	-fx-background-size: cover;
}

.label{

 -fx-text-fill: #FFFFFF;
 -fx-text-stroke: black;
 -fx-font-size: 17px;
 -fx-font-weight: bold;
}

.label{

 -fx-text-fill: #ffffff;
 -fx-font-size: 15px;
 -fx-stroke: black;

}
