.root{

	//-fx-background-color: #BDBDBD;
	//-fx-background-color: linear-gradient(#FFFFFF, #848484);
	-fx-background-image:url("../image/background.jpg");
	-fx-background-size: cover;
}


.label{

 //-fx-text-fill: #FFFFFF;
 -fx-font-size: 17px;
 -fx-font-weight: bold;
}

.button{
 //-fx-pref-width: 200px;
  //-fx-pref-height: 20px;

}